extends layout/_main

block title
    | House fix

block content
    section.single.services-page.big-box.container-fluid.parallax(style=`background-image: url(${imgPath}big-bg.jpg)`)
        .container
            .row
                p.big-text.col-xs-12 Строительство домов
                p.big-text.col-xs-12 Ремонт квартир под ключ

    section.about.container
        .row
            .col-xs-12.col-md-6
                h2 Домашнее обслуживание
                h3 Один звонок делает все. Наша компания по ремонту жилых помещений может помочь сэкономить ваше время, начиная с первого телефонного звонка, через ваше завершение проекта.
                p.small-text Мы помогаем нашим клиентам определять приоритеты основных и второстепенных целей ремонта дома, чтобы завершить проект быстрее и лучше, чем когда-либо.
                p.small-text Наша команда мастеров оснащена всем необходимым: профессиональными инструментами, признанной униформой, загруженными фургонами и т. Д. Вам не нужно прерывать свой день, тратя время на вопросы организации.
            .carousel.owl-carousel
                .item
                    +img('works-2.jpg')(class='responsive-image')

    section.professional.container-fluid.parallax(style=`background-image: url(${imgPath}professional-bg.jpg)`)
        .container
            +heading(
            'We Are Professional & Thoughful HandyMen',
            'Our handymen team was established in response to the growing need for high-quality housing and commercial space in the city. Since then, we are one of the leading real estate developers who serve the needs of a discerning clientele.'
            )(class='col-sm-6')
                .description-container.row.col-xs-12.col-sm-7
                    -for(var i = 0; i < 4; i++)
                        p.description-text.relative.col-xs-12.col-md-6 Our staff is experts who upgrades their skills from year to year.

    section.about-text-container.container.text-center
        .col-xs-12.col-sm-6
            h3 “Выполнение работы везде, независимо от того, насколько велика или мала задача“
            p.small-text Мы устанавливаем новые стандарты этики и превосходства в предоставлении высококачественных услуг нашим клиентам, используя команду высоко мотивированных и целенаправленных профессионалов.

    section.counter.about.container-fluid
        .container
            .row.between-sm.text-center
                +counter('100%', 'Вы будете довольны')
                +counter('10', 'Лет на рынке')
                +counter('2 954', 'Довольных клиентов')
                +counter('3 597', 'Проектов')

    section.features.container
        +heading(
        'Our Features',
        'From a complete turn-key job to a full project development. Leave the issues to the professionals.'
        )
        .row.between-sm
            -for(var i = 1; i <= 3; i++)
                +features(
                'Professional HandyMan',
                'From exhaust fan assessment to reviewing attic space and cleaning refrigerator coils to give you a safe life.'
                )

    section.send-form.container-fluid(style=`background-image: url(${imgPath}form-bg.jpg)`)
        .container
            .row.end-sm
                form.col-xs-12.col-sm-6
                    h3.text-center Get A Quick Quote
                    p.text-center Send us an email by entering your details and any comments you may have in the form.
                    input(type='text', placeholder='Your Name')
                    input(type='text', placeholder='Your E-mail*')
                    textarea(placeholder='Message')
                    input.btn.btn-sun.text-uppercase(type='submit', value='send')

    section.companys.container
        .row
            -for(var i = 0; i < 6; i++)
                .col-xs-12.col-sm-2
                    a(href='#')
                        +img('compony.png')(class='responsive-image')
