extends layout/_main

block title
  | House fix

block content
  section.big-box.container-fluid(style=`background-image: url(${imgPath}big-bg.jpg)`)
    .container
      .row
        p.big-text Building Your Quality
        p.big-text of Comfortable Life
        p.small-text Service Center is ready to help with all your
        p.small-text appliance repair and service needs.
        a.btn.btn-sun.text-center(href='#') Order Diagnostics