include ../utils/_mixins
include ../utils/_varibles

header.container-fluid
    .container
        .row
            .logo.col-xs-12.col-sm-3
                a(href='#')
                    +img('logo.jpg')(class='responsive-image')
            include ./_sandwitch
            ul.nav.col-xs-12.col-sm-7.flex.around-sm.center-xs.row
                +list-link(devLinks + '/', 'Главная')
                +list-link(devLinks + '/services.html', 'Услуги', 'active')
                +list-link(devLinks + '/gallery.html', 'Галерея')
                +list-link(devLinks + '/our-team.html', 'Прайс')
                +list-link(devLinks + '/blog.html', 'О Нас')
                +list-link(devLinks + '/contacts.html', 'Контакты')
            .phone-container.col-xs-12.col-sm-2.flex.middle-sm
                i.fa.fa-phone
                span.phone 1-775-97-377

