include ../utils/_mixins
include ../utils/_varibles

header.container-fluid
    .container
        .row
            .logo.col-xs-12.col-sm-3
                a(href='#')
                    +img('logo.jpg')(class='responsive-image')
            include ./_sandwitch
            ul.nav.col-xs-12.col-sm-7.flex.around-sm.center-xs.row
                +list-link(devLinks + '/about-us.html', 'About Us')
                +list-link(devLinks + '/services.html', 'Services', 'active')
                +list-link(devLinks + '/gallery.html', 'Gallery')
                +list-link(devLinks + '/our-team.html', 'Our team')
                +list-link(devLinks + '/Blog.html', 'Blog')
                +list-link(devLinks + '/contacts.html', 'Contacts')
            .phone-container.col-xs-12.col-sm-2.flex.middle-sm
                i.fa.fa-phone
                span.phone 1-775-97-377

