script(defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAWp5WpZKzLanjCZFQEHXr_9EK8JQk9Lgs&callback=HouseFix.initMap')

script(src=jsPath + 'jquery.js')
script(src=jsPath + 'jquery.fancybox.min.js')
script(src=jsPath + 'main.js')
